@use '@/shared/styles/vars' as *;
@use '@/shared/styles/placeholders' as *;

.container {
  @extend %flex-center;

  border-radius: 20px;
  width: 100%;
  height: 91px;

  padding: 30px;
  background-color: white;
  cursor: pointer;
}

.content {
  width: 100%;
  @extend %justify-between;
  align-items: center;
}

.text {
  font-size: $fz-s;
  font-weight: 700;
  color: $color-header;
}

.plus {
  font-size: 32px;
  font-weight: 700;
  color: $color-text;
  transition: .3s;
  transform-origin: center;
  &:hover {
    transform: rotate(90deg);
  }
}