%clear-focus {
  box-shadow: 0px 0px 0px transparent;
  border: none;
  outline: none;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%justify-center {
  display: flex;
  justify-content: center;
}

%items-center {
  display: flex;
  align-items: center;
}

%justify-between {
  display: flex;
  justify-content: space-between;
}

%justify-around {
  display: flex;
  justify-content: space-around;
}