// цвета

$color-purple: #615DFA;
$color-white: #FFFFFF;
$color-bg: #F2F2FE;
$color-header: #4E3F6F;

// размеры шрифта
$fz-b: 36px;
$fz-m: 22px;
$fz-s: 16px;

// размеры экрана
$size-1: 1440px;
$size-2: 1172px;