// цвета

$color-purple: #615DFA;
$color-white: #FFFFFF;
$color-bg: #F2F2FE;
$color-header: #4E3F6F;
$color-text: #8C8CB6;
$color-orange: #FFA012;
$color-blue: #58AAFF;
$color-green: #57BB34;

// размеры шрифта
$fz-b: 36px;
$fz-m: 22px;
$fz-s: 16px;

// переменные для анимаций
$tr-dur: 0.3s;


// размеры экрана
$size-1: 1440px;
$size-2: 1172px;